@model GameStore.Models.IGDB.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/.css" />
    </head>
    <body>
        <main>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Game DETAILS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>IGDB ID:</strong>
                        @Model.Id
                    </td>
                </tr>
                <tr>
                    <td> 
                        <strong>NAME:</strong>
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>GENRES:</strong>
                        @foreach (var genre in Model.GenresInfo)
                        {
                            <br />
                            @genre.Name
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>PLATFORMS:</strong>
                        @foreach (var platform in Model.PlatformsInfo)
                        {
                            <br />
                            @platform.Name
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>STORY:</strong>
                        @Model.Summary
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Socials:</strong>
                        @foreach (var webSocial in Model.WebsitesInfo)
                        {
                            <br />
                            @webSocial.Category
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>RELEASE DATE:</strong>
                        @Model.ReleaseDatesInfo[0].Date
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>LAST UPDATE:</strong>
                        @Model.UpdatedAt
                    </td>
                </tr>
                <tr>
                    <td>
                        @foreach (var imageId in Model.ScreenshotsInfo)
                        {
                            <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@(imageId).jpg" alt="Tranding">
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <button> <a type="submit" asp-controller="Account" asp-action="AddToWishList" asp-route-gameId="@Model.Id">Add To WhishList</a></button>

        @*<a type="submit" asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">@game.Name</a>*@
        </main>
        
    </body>
</html>