@model IEnumerable<GamesIGDBViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ReturnAllGames";
}

<h1 style="text-decoration: solid underline black 4px; text-underline-offset: 0.2em; width:200px;">All Games</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cardReturnAll.css">
    <link rel="stylesheet" href="~/css/searchBar.css">
    <link rel="stylesheet" href="~/css/SideMenu.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>

</head>
    <body>

        <div class="topnav">
            <a type="submit" class="active" asp-controller="Game" asp-action="ReturnAllTopRatedGames">Top Rated</a>
            <a type="submit" class="help" asp-controller="Game" asp-action="ReturnAllComingSoonGames">Comming Soon</a>
            <a type="submit" class="help" asp-controller="Game" asp-action="RecentlyReleasedGames">Recently Released</a>
            <a type="submit" class="help" asp-controller="Game" asp-action="MostAnticipatedGames">Top Anticipated Games</a>
            <a type="submit"><span style="font-size:14px" onclick="openNav()"><i class="fa-solid fa-circle-left"></i> Game Platforms</span></a>
            <a type="submit"><span style="font-size:14px" onclick="openNavGenre()"><i class="fa-solid fa-circle-left"></i> Genre</span></a>
        <div class="search-container">
            <form asp-controller="Game" asp-action="SearchByName" method="get">
                <input type="text" placeholder="searchByName..." name="searchByName">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        </div>
        <div class="courses-container">
           @foreach (var game in Model)
           {
            <div class="card">
                <a href="javasscript:void();">
                    <a type="submit" asp-controller="Game" asp-action="Details" asp-route-id="@game.Id"> 
                        <div class="category">@game.GenresInfo[0].Name</div>
                        <img src="@game.CoverUrl.Url" />
                        <h2 class="title">@game.Name</h2>
                        <div class="description">@game.Summary</div>
                        <div class="info">
                            <div class="platforms">
                                @foreach (var platform in game.PlatformsInfo)
                                {
                                    @platform.Name 
                                    <br />
                                }
                                </div>
                            <div class="duration">
                                <div class="time-icon">@game.Rating</div>
                            </div>
                        </div>
                    </a>
                </a>
            </div>
           }      
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="Linux">Linux</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="PC (Microsoft Windows)">PC (Microsoft Windows)</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="PlayStation 5">PlayStation 5</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="Xbox Series X|S">Xbox Series X|S</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="Nintendo Switch">Nintendo Switch</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="Mac">Mac</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="iOS">iOS</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="Android">Android</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="Xbox One ">Xbox One</a>
            <a asp-controller="Game" asp-action="SearchByPlatform" asp-route-platformSearch="PlayStation 4">PlayStation 4</a>
        </div>
        <div id="mySidenavGenre" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNavGenre()">&times;</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Point-and-click">Point-and-click</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Fighting">Fighting</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Shooter">Shooter</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Music">Music</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Platform">Platform</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Puzzle">Puzzle</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Real Time Strategy (RTS)">Real Time Strategy (RTS)</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Role-Playing (RPG)">Role-Playing (RPG)</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Simulator">Simulator</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Turn-based strategy (TBS)">Turn-based strategy (TBS)</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Tactical">Tactical</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Hack and slash/Beat `em up">Hack and slash/Beat `em up</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Quiz/Trivia">Quiz/Trivia</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Pinball">Pinball</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Adventure">Adventure</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Arcade">Arcade</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Visual Novel">Visual Novel</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Indie">Indie</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="Card & Board Game">Card & Board Game</a>
            <a asp-controller="Game" asp-action="SearchByGenre" asp-route-searchByGenre="MOBA">MOBA</a>
        </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function openNavGenre() {
            document.getElementById("mySidenavGenre").style.width = "250px";
        }

        function closeNavGenre() {
            document.getElementById("mySidenavGenre").style.width = "0";
        }
    </script>
    </body>
</html>


