@model List<GamesIGDBViewModel>



<h2 class="title-recently-released">Recently released</h2>
<div class="container-card3D">
    <div style="flex-basis: 1090px" class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <img src="//images.igdb.com/igdb/image/upload/t_screenshot_med/@(Model[0].CoverUrl.imageId).jpg">
                <h1>                
                    @Model[0].Name
                </h1>
                <h2>@Model[0].GenresInfo[0].Name</h2>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_small/@(Model[0].CoverUrl.imageId).jpg">
                <h1>@Model[0].Name</h1>
                <p>
                    @Model[0].Summary
                </p>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>885</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button> <a asp-asp-controller="Game" asp-action="Details" asp-route-id="@Model[0].Id">Details</a></button>
                    <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@(Model[1].CoverUrl.imageId).jpg">
                <h1>
                    @Model[1].Name
                </h1>
                <h2>@Model[1].GenresInfo[0].Name</h2>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_small/@(Model[1].CoverUrl.imageId).jpg">
                <h3>@Model[1].Name</h3>
                <div class="summary">
                    @Model[1].Summary
                </div>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>210</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button> <a asp-asp-controller="Game" asp-action="Details" asp-route-id="@Model[1].Id">Details</a></button>
                    <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div style="flex-grow: 12" class="front3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@(Model[2].CoverUrl.imageId).jpg">
                <h1>
                    @Model[2].Name
                </h1>
                <h2>@Model[2].GenresInfo[0].Name</h2>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_small/@(Model[2].CoverUrl.imageId).jpg">
                <h3>@Model[2].Name</h3>
                <div class="summary">
                    @Model[2].Summary
                </div>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>512</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button> <a asp-asp-controller="Game" asp-action="Details" asp-route-id="@Model[2].Id">Details</a></button>
                    <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@(Model[3].CoverUrl.imageId).jpg">
                <h1>
                    @Model[3].Name
                </h1>
                <h2>@Model[3].GenresInfo[0].Name</h2>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_small/@(Model[3].CoverUrl.imageId).jpg">
                <h3>@Model[3].Name</h3>
                <div class="summary">
                    @Model[3].Summary
                </div>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>258</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>1233</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button> <a asp-asp-controller="Game" asp-action="Details" asp-route-id="@Model[3].Id">Details</a></button>
                    <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@(Model[4].CoverUrl.imageId).jpg">
                <h3>
                    @Model[4].Name
                </h3>
                <h2>@Model[4].GenresInfo[0].Name</h2>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_small/@(Model[4].CoverUrl.imageId).jpg">
                <h3>@Model[4].Name</h3>
                <div class="summary">
                    @Model[4].Summary
                </div>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>333</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>632</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button> <a asp-asp-controller="Game" asp-action="Details" asp-route-id="@Model[4].Id">Details</a></button>
                    <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div style="flex-basis: 720px" class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@(Model[5].CoverUrl.imageId).jpg">
                <h1>
                    @Model[5].Name
                </h1>
                <h2>@Model[5].GenresInfo[0].Name</h2>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_small/@(Model[5].CoverUrl.imageId).jpg">
                <h1>@Model[5].Name</h1>
                <div class="summary">
                    @Model[5].Summary
                </div>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>141</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>1500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button> <a asp-asp-controller="Game" asp-action="Details" asp-route-id="@Model[5].Id">Details</a></button>
                    <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
